@page
@model QuizProject.Areas.Admin.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="mb-3">
                <label asp-for="Question.Name" class="control-label"></label>
                <input asp-for="Question.Name" class="form-control" />
                <span asp-validation-for="Question.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question.Description" class="control-label"></label>
                <input asp-for="Question.Description" class="form-control" />
                <span asp-validation-for="Question.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question.Order" class="control-label"></label>
                <input asp-for="Question.Order" class="form-control" />
                <span asp-validation-for="Question.Order" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question.HtmlBody" class="control-label"></label>
                <input asp-for="Question.HtmlBody" class="form-control" />
                <span asp-validation-for="Question.HtmlBody" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question.Points" class="control-label"></label>
                <input asp-for="Question.Points" class="form-control" />
                <span asp-validation-for="Question.Points" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question.IdCategory" class="control-label"></label>
                <select asp-for="Question.IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
                <span asp-validation-for="Question.IdCategory" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
