@page
@model QuizProject.Areas.Admin.Pages.Categories.EditModel
@{
    ViewData["Title"] = "Edit " + Model.Category.Title;
    var imgPath = Model.Category.Id + ".png";
}
<h1>Edit Category</h1>
<hr />
<div class="row">
    <div class="col-6 p-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="mb-3">
                <label class="control-label">Title</label>
                <input asp-for="Category.Title" class="form-control" />
                <span asp-validation-for="Category.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="control-label">Description</label>
                <textarea asp-for="Category.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="control-label">Display Order</label>
                <input asp-for="Category.Order" class="form-control" />
                <span asp-validation-for="Category.Order" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category.IsAviable" />Is Aviable
                </label>
            </div>
            <div class="mb-3">
                <label class="control-label">Aviability Date</label>
                <input asp-for="Category.AviabilityDate" class="form-control" />
                <span asp-validation-for="Category.AviabilityDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @if (Model.HasImage)
                {
                    <label class="form-label">Current Image</label>
                    <img class="img" src="~/img/@imgPath" />
                    <br />
                    <label class="form-label">Replace</label>
                }
                else
                {
                    <label class="form-label">Upload</label>
                }
                <input class="form-control" asp-for="Upload" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-6 p-4">
        <h5>Categorie's Questions</h5>
        <ul>
            @foreach (var q in Model.Category.Questions)
            {
                <li><a asp-area="Admin" asp-page="/Questions/Edit" asp-route-id="@q.Id">@q.Name</a></li>
            }
        </ul>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>